h1{
    text-align: center;
}
img {
    justify-content: center;
    width: 300px;
    justify-content: space-around;
}
 body{
      margin: 0;
    font-family: "Oswald",sans-serif;
    font: 16px;
background-image: linear-gradient(blue,green);
 color:white;
  text-align: center;

}
.player{
    text-align: center;
    width: 30%;

    font-size: 35px;
    padding:2%;
color:nav;
    margin-bottom:10%;
    margin-top:5%;
}
