h1{
    text-align: center;
}
img {
    justify-content: center;
    width: 300px;
    justify-content: space-around;
}
 body{
background-image: linear-gradient(blue,green);
  text-align: center;
    margin-bottom: 1%;
}
p{
     text-align: center;
  height: 70px;
    background-image: linear-gradient(pink,yellow);
}
