h1{
    text-align: center;
}
img {
    justify-content: center;
    width: 300px;
    justify-content: space-around;
}
 body{
background-image:linear-gradient (blue,red);
text-align: center;
}
p{
     text-align: center;
  height: 70px;
    background-image:linear-gradient (green,(red);
}
